<phpunit
        bootstrap="./bootstrap.php"
        colors="true"
>
    <testsuites>
        <testsuite name="unit">
           <directory suffix="Test.php">./</directory>
        </testsuite>
         <testsuite name="getImagesIngr">
           <directory suffix="getImagesIngr.php">./</directory>
        </testsuite>
    </testsuites>
   
</phpunit>