#searchBlock{
    width: 500px;
	height: auto; 
	margin: 0px auto; 
}


input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 32px;
    text-decoration: Поиск;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=text] {
    width: 350px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}